.main-section {
    margin: 1.5rem;
}

.recipe-container {
    justify-content: center;

}

.search-form {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.form-control {
    max-height: 10vh;
    max-width: 50vw;
    border: none;
    padding: 1rem;
    margin: 1rem;
}

.alert, .alert-message {
    display: inline-block;
    width: fit-content;
    justify-content: center;
}