.card-group{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    overflow-wrap: break-word;
}

.card-item {
    max-width: 300px;
    overflow-wrap: break-word;
}

.card-image {
    width: 100%;
} 

.text-field {
    height: 2rem;
}

.card-item {
    width: auto;
}

@media only screen and (max-width: 1130px) {
    .card-item {
        width: auto;
    }

}

@media only screen and (max-width: 670px) {
    .card-item {
        margin: auto;
        width: 70vw;
    }

}

@media only screen and (max-width: 550px) {
    .card-group {
        margin: auto;
        width: auto;
    }

}
