.form-container {
  max-width: 60vw;
  margin: 10vh auto;
  padding: 30px 0;
  background-color: #f8f9fa;
  display: flex;
  flex-flow: column wrap;
}

.form-header {
  margin-top: -1vh;
  margin-bottom: 2vh;
}

.form-element {
  display: block;
  width: 70%;
  margin: auto;
}

.form-element label, .form-element input {
  padding: 0;
  margin: 0;
}

button {
  display: block;
  width: auto;
  align-self: center;
}
