.footer {
    background-color: #f8f9fa;
    margin-top: auto;
}

.footer-elements {
    justify-content: center;
    padding-bottom: 10px;
    /* display: flex; 
    justify-content: center;
    align-items: center */
}

.contact-page, .about-page, .blog-page {
    padding: 10px;
}


.app-logo {
    width:125px;
    height:75px;
    margin-top: 25px;
}
