.footer {
    background-color: #f8f9fa;
    position:absolute;
    left:0;
    right:0;
}

.contact-page, .about-page, .blog-page {
    flex-direction: column;
    justify-content: space-evenly;
    align-self: start;
    margin: 2.5rem;
}

.appiMealsLogo {
    width:125px;
    height:125px;
}
