.box1{
    border: solid 1px rgba(121, 121, 121, 0.445);
    border-radius: 5px;
    padding: 40px;
    background-color:rgba(138, 138, 138, 0.2);
}

.BrowseCatagoryCardBackground{
    background-color: white;
}

.BrowseMealsButton{
    width: 100%;
}

.MainSectionMyMealsHubContainer {
    margin: 1.5rem;
    justify-content: center;
}

.close-button {
    position: absolute;
    background-color: rgba(31, 25, 25, 0.8) !important;
    border: none !important;
    opacity: 1;  
    color: #ffffff !important;
    top: 10px;
    left: 10px;
}

.close-button:hover {
    opacity: 0.5;
}



