@media all  {
    .Login {
      padding-top: 30px;
      padding-bottom: 30px;
      margin: 0 auto;
      width: 60%;
      background-color: #f8f9fa;
    }
  }

.form-label{
  padding-left: 0px;
}

.form-control{
  max-width: 90%;
}




