
/* The HTML classes are structured in a way to keep the footer sticked on the bottom of the page*/
.app-body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* Page body style */
.main-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  object-fit: contain;
  text-align: center;
}

/* All properties here are needed for the background image */
.main-wrapper::after {
  content: "";
  background-image: url(../src/Images/WebsiteBackground.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.7;
  z-index: -1;
  top: 80px;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

/* flex: 1 can be used to stick the footer to the bottom,
for now margin-top: auto; was applied to the footer's element css*/

/* .content {
  flex: 1;
} */
