
/* Tsit */
.page-content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  object-fit: contain;
  text-align: center;

}

/* All properties here are needed for the background image */
.page-content::after {
  object-fit: contain;
  content: "";
  background-image: url(../src/Images/WebsiteBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}
