.meals-Card{
    padding: 40px;
}



.delete__button {
    position: absolute;
    background-color: rgba(31, 25, 25, 0.8) !important;
    border: none !important;
    opacity: 1;  
    color: #ffffff !important;
    top: 10px;
    right: 10px;
}


.delete__button:hover{
    opacity: 0.5;
}

.MyMealShopButton{
    float: right;
    margin-right: 40px;
}